.red-box {
    position: relative;
    width: 39px;
    height: 37px;
    filter: drop-shadow(0px 0px 12px rgb(255, 0, 0));

    @include breakpoint-down("small") {
        width: 29px;
        height: 27px;
    }

    @include breakpoint-down("tiny") {
        position: absolute;
        top: 10px;
    }

    &--left {
        @include breakpoint-down("tiny") {
            left: -35px;
        }
    }

    &--right {
        @include breakpoint-down("tiny") {
            right: -35px;
        }
    }

    &--about {
        @include breakpoint-down("tiny") {
            right: -35px;
        }
    }
    &--slider{
        display: none;
        @include breakpoint-down("small") {
            display: inline-block;
            position: relative;
            left: 0;
            top: 0;
        }
    }
}